{% extends 'public/base.html' %}

{% load static %}

{% block title %}Bloackpoax - Contact us{% endblock %}

{% block keywords %}Blocketo - We take care of your ICO{% endblock %}

{% block description %}{% endblock %}

{% block content %}
{% include 'public/components/nav.html' %}
<div id="info-page-content" class="contact-us-form-page">
	<div class="container">
		<div class="contact-us-form">
			<form action="{% url 'request-contact' %}" method="post">
				{% csrf_token %}
				<div class="contact-us-form-title">
					Contact us
				</div>
				<div class="contact-us-form-hint">Blockpoax is working with many projects and their ICO's. If you have any questions about our services, please fill up the form below, or request a custom invoice from us.</div>
				<div id="started-button">
					<p id="start-request">Request custom proposal</p>
				</div>
				<div class="contact-us-three-row">
					<div class="contact-us-fields contact-us-three">
						<label>Full name</label>
						<input name="full-name" type="text" placeholder="Full name" required>
					</div>
					<div class="contact-us-fields contact-us-three">
						<label>Email ID</label>
						<input name="email-id" type="email" placeholder="Email ID" required>
					</div>
					<div class="contact-us-fields contact-us-three">
						<label>Mobile number</label>
						<input name="mobile" type="text" placeholder="Mobile number">
					</div>
				</div>
				<div class="contact-us-fields">
					<label>Description</label>
					<textarea name="description" type="text" placeholder="Please describe your query" required></textarea>
				</div>
				<div class="contact-us-fields">
					<button type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% include 'public/components/request-form.html' %}
{% endblock %}