{% extends 'public/base.html' %}

{% load static %}

{% block title %}BLockpoax -Frequently Asked Questions{% endblock %}

{% block keywords %}Blocketo - We take care of your ICO{% endblock %}

{% block description %}{% endblock %}

{% block content %}
{% include 'public/components/nav.html' %}
<div id="info-page-content">
	<div class="container">
		<div class="page-title">
			<p>FAQ's</p>
		</div>
		<div class="page-content">
			<div class="question">
				<p>Q. Why is ICO marketing important?</p>
			</div>
			<div class="answer">
				<p><span>A.</span> ICO marketing is important to convince prospective investors about the efficacy and viability of the project to be funded,by presenting them with a white paper, detailing all the important milestones, dates and benefits that are likely to accrue to investors from the project.</p>
			</div>
			<div class="question">
				<p>Q. Why do we need to create social media profiles?</p>
			</div>
			<div class="answer">
				<p><span>A.</span> For projects aiming to raise funds through an ICO, social media offers a cost-effective yet highly powerful way to maximize reach, while keeping investors updated on the progress being made on the project.</p>
			</div>
			<div class="question">
				<p>Q. What is the role of content creation and blogging in marketing an ICO?</p>
			</div>
			<div class="answer">
				<p><span>A.</span> To ensure that all the updates about the project are provided to investors, through regular posts or blogs on social media sites. Content creation establishes the knowledge base of the core team behind and the viability of the project.</p>
			</div>
			<div class="question">
				<p>Q. What are ICO Bounties?</p>
			</div>
			<div class="answer">
				<p><span>A.</span> Bounties refer to small rewards given to individuals who promote the ICO on their social media profiles or pages, cryptocurrency communities or other groups. During the bounty program, the ICOs provide compensation for a number of tasks spread across marketing, bug reporting or even improving aspects of the cryptocurrency framework</p>
			</div>
			<div class="question">
				<p>Q. What is the need of the Blockchain Press Release?</p>
			</div>
			<div class="answer">
				<p><span>A.</span> The blockchain ecosystem needs more professional services that accept cryptocurrencies as a payment method. So we made one. We believe blockchain is an emerging fundamentally disruptive technology which has the potential to revolutionize society, culture, and finance to the same degree as the creation of the Internet itself.We are passionate about blockchain and genuinely enjoy blasting the word out into the mainstream about innovative and exciting blockchain endeavours, through ICO token listing, reviews and much more.
				</p>
			</div>
			<div class="question">
				<p>Q. What is the importance of Community and Social Media Management for ICO’s?</p>
			</div>
			<div class="answer">
				<p><span>A. </span> Social media management and cryptocurrency communities are massively important to the success of an ICO. The crypto community is knowledgeable, vast, and expanding and must be tapped into in order to get the results you want for your ICO. For projects aiming to raise funds through an ICO, social media offers a cost-effective yet highly powerful way to maximize reach, while keeping investors updated on the progress being made on the project.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}