{% extends 'public/base.html' %}

{% load static %}

{% block title %}Blockpoax - We help you reach out to the mass audience{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}Blockpoax is an agency that is focussed on ICO promotions, fundraising and global outreach. We provide numerous solutions that are based on Cryptocurrencies.{% endblock %}

{% block content %}
<div id="home-banner">
	<div id="home-banner-nav-container">
		<div id="nav">
			<div class="container">
				<div class="mrow">
					<div class="left">
						<div id="logo">
							<a href="{% url 'home' %}">
								<img src="{% static 'images/logo.png' %}" alt="logo">
								<p>Blockpoax</p>
							</a>
						</div>
					</div>
					<div class="right">
						<ul>
							<li>
								<p class="scroll-to" data-scroll-to="features">
									<span>Features</span>
								</p>
							</li>
							<li>
								<p class="scroll-to" data-scroll-to="social-sites">
									<span>Social Serices</span>
								</p>
							</li>
							<li>
								<p class="scroll-to" data-scroll-to="tilt-section">
									<span>Request quotation</span>
								</p>
							</li>
							<li>
								<p class="scroll-to" data-scroll-to="plans">
									<span>Plans</span>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="home-banner-content">
			<div id="home-banner-left">
				<div id="home-banner-vertical">
					<div id="home-banner-container">
						<p class="home-banner-title">ICO Marketing, Simplified</p>
						<p class="home-banner-p">Best ICO Marketing Strategies for running a successful ICO. We build more powerful and flexible strategies to accomplish a successful ICO.</p>
						<a href="https://t.me/blockpoax" target="_blank" class="contact-on-telegram">
							<i class="fab fa-telegram-plane"></i>
							<p>Contact on telegram</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="home-banner-image">
			<div id="home-banner-image-vertical">
				<img src="{% static 'images/board-meeting.png' %}" alt="meeting-image">
			</div>
		</div>
	</div>
</div>
<div class="home-page-more-content">
	<div id="features">
		<div id="features-section-title">
			<p>Our features</p>
		</div>
		<div id="features-container" class="container">
			<div class="mrow">
				<div class="left feature-col">
					<div class="feature-content">
						<div class="feature-icon">
							<img src="{% static 'images/target.svg' %}">
						</div>
						<div class="feature-title">
							<p>Reach targetted audience</p>
						</div>
						<div class="feature-content">
							<p>What most ICO projects do is that they run many campaigns for attracting investors to their ideas, but most of them didn't knew how to reach out the targetted audience which will be most likely to invest in their ideas and beleive in their token.</p>
						</div>
					</div>
				</div>
				<div class="left feature-col">
					<div class="feature-content">
						<div class="feature-icon">
							<img src="{% static 'images/ppc.svg' %}">
						</div>
						<div class="feature-title">
							<p>Community Management</p>
						</div>
						<div class="feature-content">
							<p>We work to expand your followers and growing your social communities such as telegram, Facebook Etc. It includes communication with targeted audience and to build trust and transparency around the project. We ensure announcements are placed strategically.</p>
						</div>
					</div>
				</div>
				<div class="left feature-col">
					<div class="feature-content">
						<div class="feature-icon">
							<img src="{% static 'images/phone.svg' %}">
						</div>
						<div class="feature-title">
							<p>Social media campaigns</p>
						</div>
						<div class="feature-content">
							<p>Outreaching potential investors on social networking websites provides a real world method of interacting with investors. Investors find it more appealing when they receive personal messages inviting to invest in your ICO.</p>
						</div>
					</div>
				</div>
				<div class="left feature-col">
					<div class="feature-content">
						<div class="feature-icon">
							<img src="{% static 'images/mail.svg' %}">
						</div>
						<div class="feature-title">
							<p>Press release</p>
						</div>
						<div class="feature-content">
							<p>A public relations initiative that touts a business's innovations can attract attention, investors and potential business partners and When your ICO will be published and highlighted in reputed news websites and crypto websites, it will help you get more exposure and places you in front of your target audience.</p>
						</div>
					</div>
				</div>
				<div class="left feature-col">
					<div class="feature-content">
						<div class="feature-icon">
							<img src="{% static 'images/calendar.svg' %}">
						</div>
						<div class="feature-title">
							<p>Proper planning</p>
						</div>
						<div class="feature-content">
							<p>Bitcointalk and Reddit are hubs for all crypto traders and investors. We provide you with shoutouts on such platforms , manage communities on Bitcointalk. A strategised set of content will trend in crypto related subreddits which will bring your ICO in the eyes of potential crypto investors.</p>
						</div>
					</div>
				</div>
				<div class="left feature-col">
					<div class="feature-content">
						<div class="feature-icon">
							<img src="{% static 'images/public.svg' %}">
						</div>
						<div class="feature-title">
							<p>Bounty creation and management</p>
						</div>
						<div class="feature-content">
							<p>We help you with creating and promoting your bounty among bounty hunters who start posting and sharing about your ICO through their profile and engage their follower about it to spread awareness about your ICO events and sales and to bring the organic audience. So, your ICO gains momentum and reaches to the maximum number of potential investors.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="services">
		<div id="testimonial">
			<p id="testimonial-section-title">Promotions</p>
			<div id="testimonial-container" class="mrow">
				<div id="testimonial-image" class="left">
					<!--<img src="{% static 'images/bullhorn-solid.svg' %}" alt="testimonial-image">-->
					<svg aria-hidden="true" data-prefix="fas" data-icon="bullhorn" class="svg-inline--fa fa-bullhorn fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M576 240c0-23.63-12.95-44.04-32-55.12V32.01C544 23.26 537.02 0 512 0c-7.12 0-14.19 2.38-19.98 7.02l-85.03 68.03C364.28 109.19 310.66 128 256 128H64c-35.35 0-64 28.65-64 64v96c0 35.35 28.65 64 64 64h33.7c-1.39 10.48-2.18 21.14-2.18 32 0 39.77 9.26 77.35 25.56 110.94 5.19 10.69 16.52 17.06 28.4 17.06h74.28c26.05 0 41.69-29.84 25.9-50.56-16.4-21.52-26.15-48.36-26.15-77.44 0-11.11 1.62-21.79 4.41-32H256c54.66 0 108.28 18.81 150.98 52.95l85.03 68.03a32.023 32.023 0 0 0 19.98 7.02c24.92 0 32-22.78 32-32V295.13C563.05 284.04 576 263.63 576 240zm-96 141.42l-33.05-26.44C392.95 311.78 325.12 288 256 288v-96c69.12 0 136.95-23.78 190.95-66.98L480 98.58v282.84z"></path></svg>
				</div>
				<div id="testimonial-content" class="left">
					<div id="testimonial-vertical">
						<div id="testimonial-words">
							<p><i class="fas fa-quote-left"></i> Publication on 300 Websites having traffic of more than a million and over 2000 websites that publish our stories, you can get the reach to targetted audience, that had always been required for your ICO<i class="fas fa-quote-right"></i></p>
						</div>
						<!--<div id="sayer-name">
							<p>Sam Czertok</p>
						</div>
						<div id="sayer-desg">
							<p>CEO, TokenAI</p>
						</div>-->
					</div>
				</div>
			</div>
		</div>
		<div id="dual-section-more">
			<p id="dual-title">Customised Solution</p>
			<p id="dual-content">We at Blockpoax work with you throughout your journey. We understand your product, research and find a customised solution for you. </p>
			<div id="started-button">
				<p id="start-request">Request proposal</p>
			</div>

		</div>
	</div>
	<div id="social-sites">
		<div class="container">
			<p id="social-section-title">Social media outreach</p>
			<div class="mrow">
				<div class="left social-site facebook">
					<div class="social-box">
						<div class="social-icon mrow">
							<p>Facebook</p>
							<i class="fab fa-facebook-square"></i>
						</div>
						<div class="social-content">
							<p class="social-text">The social media platform does have very active communities that provide valuable information on the crypto world, such as ICO reviews, explainer videos, news and plenty of stuff that can educate an investor interested in the crypto space. We reach out more than 200K crypto people and profiles on Facebook. The message will be written by our expert writers.</p>
						</div>
						<div class="social-more">
							<i class="fas fa-plus-circle"></i>
						</div>
					</div>
				</div>
				<div class="left social-site twitter">
					<div class="social-box">
						<div class="social-icon mrow">
							<p>Twitter</p>
							<i class="fab fa-twitter-square"></i>
						</div>
						<div class="social-content">
							<p class="social-text">In addition to providing useful tools, Twitter has a thriving crypto community. Well-known users tweet technical analysis advice, or their predictions for coins. Many offer advice to newcomers on how to mine or protect their coins. We outreach more than 300k Crypto people on Twitter with info about your ICO, so much more investors join your ICO.</p>
						</div>
						<div class="social-more">
							<i class="fas fa-plus-circle"></i>
						</div>
					</div>
				</div>
				<div class="left social-site reddit">
					<div class="social-box">
						<div class="social-icon mrow">
							<p>Reddit</p>
							<i class="fab fa-reddit-square"></i>
						</div>
						<div class="social-content">
							<p class="social-text">The crypto-craze is so high on Reddit that the official Reddit app has updated it’s name to Reddit: Top News, Trending Memes & Crypto Updates. How can a list of the best Reddit cryptocurrency subs start without mentioning the biggest thread on general discussions. Get your ICO's article featured on top crypto sub reddits ethtrader and cryptocurrency.</p>
						</div>
						<div class="social-more">
							<i class="fas fa-plus-circle"></i>
						</div>
					</div>
				</div>
				<div class="left social-site instagram">
					<div class="social-box">
						<div class="social-icon mrow">
							<p>Instagram</p>
							<img id="social-instagram-image" src="{% static 'images/instagram.svg' %}">
						</div>
						<div class="social-content">
							<p class="social-text">A recent survey revealed that Instagram was the #1 platform for 92% of influencers in 2017. The trend has continued in 2018 and is likely to gain further steam in the coming months. In a world where banner ads are mistrusted by younger consumers, the opinions on popular sites like Instagram matter. Get post about ICO posted by top ICO analysts.</p>
						</div>
						<div class="social-more">
							<i class="fas fa-plus-circle"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="tilt-section" class="mrow">
		<div id="tilt-left">
			<div id="tilt-left-vertical">
				<p id="tilt-title">Request a quotation</p>
				<div id="tilt-left-content">
					<p></p>
				</div>
				<div id="tilt-fields" class="mrow">
					<div id="tilt-field-container" class="mrow right">
						<p id="proposal-request-button" class="right">Start here</p>
					</div>
				</div>
			</div>
		</div>
		<div id="tilt-right">
			<div class="tilt-telegram-icon">
				<i class="fab fa-telegram-plane"></i>
			</div>
			<div class="tilt-telegram-offer">
				<p>Promotional offer for Telegram bot for your Telegram group</p>
			</div>
			<div class="tilt-telegram-bot">
				<ul>
					<li>A bot that will update a Google Sheet with details of members entering or leaving the group : First name, Last name, Username, Date & time.</li>
					<li>Whenever any member from your group sends message containing abusive words or specific words that you don't want in your group, the message gets deleted and an admin from your group is notified. </li>
					<li>A bot that will update a Google Sheet with details of members entering or leaving the group : First name, Last name, Username, Date & time.</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="plans">
		<p id="plans-section-title">Plans</p>
		<div class="container">
			<div class="mrow" id="plans-row">
				<div class="plan">
					<div class="plan-card">
						<p class="plan-title silver">Silver</p>
						<div class="plan-content silver">
							<ul>
								<li>SEO of project website</li>
								<li>BitcoinTalk ANN thread</li>
								<li>Bounty listing on all websites</li>
								<li>Broadcasting Press Release on 200+ news websites</li>
								<li>Publication on 3 Crypto news websites</li>
								<li>PR outreach of more than 700K</li>
								<li>
									<p id="silver-package" class="read-more">See full package</p>
								</li>
							</ul>
							<p class="plan-price"><span>Price :</span> 20 ETH</p>
						</div>
					</div>
				</div>
				<div class="plan">
					<div class="plan-card">
						<p class="plan-title gold">Gold</p>
						<div class="plan-content gold">
							<ul>
								<li>SEO of project website</li>
								<li>BitcoinTalk ANN thread</li>
								<li>Bounty listing on websites</li>
								<li>ICO listing on 20 ICO review websites</li>
								<li>SEO optimized content planning and creation</li>
								<li>Broadcasting Press Release on 700+ news websites</li>
								<li>
									<p id="gold-package" class="read-more">See full package</p>
								</li>
							</ul>
							<p class="plan-price"><span>Price :</span> 40 ETH</p>
						</div>
					</div>
				</div>
				<div class="plan">
					<div class="plan-card">
						<p class="plan-title platinum">Platinum</p>
						<div class="plan-content platinum">
							<ul>
								<li>SEO of project website</li>
								<li>ICO listing on over 50 ICO reviews websites</li>
								<li>BitcoinTalk ANN thread</li>
								<li>Broadcasting Press Release on 2000+ news websites</li>
								<li>Bounty creation and management</li>
								<li>Bounty listing on major websites</li>
								<li>
									<p id="platinum-package" class="read-more">See full package</p>
								</li>
							</ul>
							<p class="plan-price"><span>Price :</span> 60 ETH</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="silver-package-modal" class="plan-modal">
	<div class="plan-vertical">
		<div class="plan-container">
			<div class="plan-modal-close-icon">
				<i class="fas fa-times"></i>
			</div>
			<div class="plan-modal-header">
				<p>Silver</p>
			</div>
			<div class="plan-modal-features">
				<ul>
					<li>SEO of project website</li>
					<li>BitcoinTalk ANN thread</li>
					<li>Bounty listing on all websites</li>
					<li>Broadcasting Press Release on 200+ news websites</li>
					<li>Publication on 3 Cryptocurrency news websites</li>
					<li>PR outreach of more than 700K</li>
					<li>Reddit trending in Crypto sub-reddits</li>
					<li>Twitter engagement with 2k followers</li>
					<li>Twitter outreach of 50k audience</li>
					<li>Facebook traction 50k outreach & 3k followers</li>
					<li>Youtube engagement with 5k+ views</li>
					<li>Telegram community buildup (3k+ members)</li>
					<li>Total social media reach of 200K+</li>
					<li>Social channels management ( 1 post per day)</li>
					<li>3 ICO reviews</li>
					<li>Google ads setup with targetted keywords</li>
					<li>Promotion in crypto Facebook, Twitter and Telgram groups and channels</li>
				</ul>
				<div class="plan-price-container">
					<p class="plan-price-title">Price</p>
					<p class="plan-price">20 Ethers</p>
				</div>
			</div>
			<div class="plan-modal-footer"></div>
		</div>
	</div>
</div>
<div id="gold-package-modal" class="plan-modal">
	<div class="plan-vertical">
		<div class="plan-container">
			<div class="plan-modal-close-icon">
				<i class="fas fa-times"></i>
			</div>
			<div class="plan-modal-header">
				<p>Gold</p>
			</div>
			<div class="plan-modal-features">
				<ul>
					<li>SEO of project website</li>
					<li>BitcoinTalk ANN thread</li>
					<li>Bounty listing on websites</li>
					<li>ICO listing on 20 ICO review websites</li>
					<li>SEO optimized content planning and creation</li>
					<li>Broadcasting Press Release on 700+ news websites</li>
					<li>Publication on 5 Cryptocurrency news websites</li>
					<li>Total PR outreach of more than 1 Million</li>
					<li>2 X Reddit trending in Crypto sub-reddits</li>
					<li>Twitter engagement with 5k followers</li>
					<li>Twitter outreach of 100k audience</li>
					<li>Facebook traction 100k outreach and 5k followers</li>
					<li>Youtube engagement with 12k+ views</li>
					<li>Telegram community buildup (6k+ members)</li>
					<li>Total social media reach of 500k+</li>
					<li>Social channels management ( 3 posts per day)</li>
					<li>3 ICO reviews</li>
					<li>1 Expert ICO review</li>
					<li>Google ads setup with targetted keywords</li>
					<li>Promotion in crypto Facebook, Twitter and Telgram groups and channels</li>
				</ul>
				<div class="plan-price-container">
					<p class="plan-price-title">Price</p>
					<p class="plan-price">40 Ethers</p>
				</div>
			</div>
			<div class="plan-modal-footer"></div>
		</div>
	</div>
</div>
<div id="platinum-package-modal" class="plan-modal">
	<div class="plan-vertical">
		<div class="plan-container">
			<div class="plan-modal-close-icon">
				<i class="fas fa-times"></i>
			</div>
			<div class="plan-modal-header">
				<p>Platinum</p>
			</div>
			<div class="plan-modal-features">
				<ul>
					<li>SEO of project website</li>
					<li>BitcoinTalk ANN thread</li>
					<li>ICO listing on over 50 ICO reviews websites</li>
					<li>Bounty creation and management</li>
					<li>Bounty listing on major websites</li>
					<li>SEO optimized content planning and creation</li>
					<li>Broadcasting Press Release on 2000+ news websites</li>
					<li>Publication on 8+ Cryptocurrency news websites</li>
					<li>Total PR outreach of more than 2 million</li>
					<li>3 X Reddit trending in Crypto sub-reddits</li>
					<li>Twitter engagement with 8k followers</li>
					<li>Twitter outreach of 200k audience</li>
					<li>Facebook traction 150k outreach and 8k followers</li>
					<li>Youtube engagement with 20k+ views</li>
					<li>Telegram community buildup (10k+ members)</li>
					<li>Total social media reach of 1M+</li>
					<li>Social channels management ( 4+ posts per day)</li>
					<li>10 ICO reviews</li>
					<li>2 Expert ICO reviews</li>
					<li>2 Youtube videos by crypto influencers</li>
					<li>Google ads setup with targetted keywords</li>
					<li>Promotion in crypto Facebook, Twitter and Telgram groups and channels</li>
				</ul>
				<div class="plan-price-container">
					<p class="plan-price-title">Price</p>
					<p class="plan-price">60 Ethers</p>
				</div>
			</div>
			<div class="plan-modal-footer"></div>
		</div>
	</div>
</div>
<div id="success-message">
	{% if messages %}
	    {% for message in messages %}
	    <p>{{ message }}</p>
	    {% endfor %}
	{% endif %}
</div>
{% include 'public/components/request-form.html' %}
{% endblock %}
