{% extends 'public/base.html' %}

{% load static %}
{% block keywords %}Blocketo - We take care of your ICO{% endblock %}

{% block description %}{% endblock %}

{% block content %}
<div id="home-banner">
	<div id="home-banner-nav-container">
		<div id="nav">
			<div class="container">
				<div class="mrow">
					<div class="left">
						<div id="logo"></div>
					</div>
					<div class="right">
						<ul>
							<li>
								<a href="#">
									<p><span>Home</span></p>
								</a>
							</li>
							<li>
								<a href="#">
									<p><span>Home</span></p>
								</a>
							</li>
							<li>
								<a href="#">
									<p><span>Home</span></p>
								</a>
							</li>
							<li>
								<a href="#">
									<p><span>Home</span></p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="features">
	<div id="features-section-title">
		<p>Our features</p>
	</div>
	<div id="features-container" class="container">
		<div class="mrow">
			<div class="left feature-col">
				<div class="feature-content">
					<div class="feature-icon">
						<img src="{% static 'images/target.svg' %}">
					</div>
					<div class="feature-title">
						<p>Reach targetted audience</p>
					</div>
					<div class="feature-content">
						<p>What most ICO projects do is that they run many campaigns for attracting investors to their ideas, but most of them didn't knew how to reach out the targetted audience which will be most likely to invest in their ideas and beleive in their token.</p>
					</div>
				</div>
			</div>
			<div class="left feature-col">
				<div class="feature-content">
					<div class="feature-icon">
						<img src="{% static 'images/ppc.svg' %}">
					</div>
					<div class="feature-title">
						<p>Pay per click</p>
					</div>
					<div class="feature-content">
						<p>We run pay per click campaigns on various platforms. Pay per click provide people</p>
					</div>
				</div>
			</div>
			<div class="left feature-col">
				<div class="feature-content">
					<div class="feature-icon">
						<img src="{% static 'images/phone.svg' %}">
					</div>
					<div class="feature-title">
						<p>Social media campaigns</p>
					</div>
					<div class="feature-content">
						<p>Outreaching potential investors on social networking websites provides a real world method of interacting with investors. Investors find it more appealing when they receive personal messages inviting to invest in your ICO.</p>
					</div>
				</div>
			</div>
			<div class="left feature-col">
				<div class="feature-content">
					<div class="feature-icon">
						<img src="{% static 'images/mail.svg' %}">
					</div>
					<div class="feature-title">
						<p>Press release</p>
					</div>
					<div class="feature-content">
						<p>Get publication of your events, notification, description and more on thousands of websites </p>
					</div>
				</div>
			</div>
			<div class="left feature-col">
				<div class="feature-content">
					<div class="feature-icon">
						<img src="{% static 'images/calendar.svg' %}">
					</div>
					<div class="feature-title">
						<p>Proper planning</p>
					</div>
					<div class="feature-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula facilisis dignissim. Nam eu justo tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus non dictum felis, at placerat nisi. Maecenas a ante auctor, eleifend nulla laoreet, lobortis ipsum. Cras egestas placerat lectus id rhoncus.</p>
					</div>
				</div>
			</div>
			<div class="left feature-col">
				<div class="feature-content">
					<div class="feature-icon">
						<img src="{% static 'images/public.svg' %}">
					</div>
					<div class="feature-title">
						<p>Crowd sale</p>
					</div>
					<div class="feature-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula facilisis dignissim. Nam eu justo tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus non dictum felis, at placerat nisi. Maecenas a ante auctor, eleifend nulla laoreet, lobortis ipsum. Cras egestas placerat lectus id rhoncus.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="dual-test-section">
	<div id="testimonial">
		<p id="testimonial-section-title">Testimonials</p>
		<div id="testimonial-container" class="mrow">
			<div id="testimonial-image" class="left">
				<img src="https://www.sbp-creative.com/wp-content/uploads/2017/01/profile-placeholder.png" alt="testimonial-image">
			</div>
			<div id="testimonial-content" class="left">
				<div id="testimonial-vertical">
					<div id="testimonial-words">
						<p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a ante at ex accumsan pulvinar id ut nibh. Curabitur nec quam tortor. Ut vitae eleifend est. Praesent vitae ligula vitae felis tempor lacinia ac at tortor.<i class="fas fa-quote-right"></i></p>
					</div>
					<div id="sayer-name">
						<p>Loren Ipsum</p>
					</div>
					<div id="sayer-desg">
						<p>Loren, Impsum dolor</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="dual-section-more">
		<p id="dual-title">Lorem ipsum dolor</p>
		<p id="dual-content">Duis sed dignissim tellus. Aenean fringilla congue orci, vitae varius velit interdum id. Curabitur luctus ipsum at ipsum tempus, ut mollis massa efficitur.</p>
		<div id="started-button">
			<p id="get-started"></p>
		</div>

	</div>
</div>
<div id="social-sites">
	<div class="container">
		<p id="social-section-title">Social media outreach</p>
		<div class="mrow">
			<div class="left social-site facebook">
				<div class="social-box">
					<div class="social-icon mrow">
						<p>Facebook</p>
						<i class="fab fa-facebook-square"></i>
					</div>
					<div class="social-content">
						<p class="social-text">The social media platform does have very active communities that provide valuable information on the crypto world, such as ICO reviews, explainer videos, news and plenty of stuff that can educate an investor interested in the crypto space. We reach out more than 200K crypto people on Facebook. The message will be written by our expert writers</p>
					</div>
				</div>
			</div>
			<div class="left social-site twitter">
				<div class="social-box">
					<div class="social-icon mrow">
						<p>Twitter</p>
						<i class="fab fa-twitter-square"></i>
					</div>
					<div class="social-content">
						<p class="social-text">In addition to providing useful tools, Twitter has a thriving crypto community. Well-known users tweet technical analysis advice, or their predictions for coins. Many offer advice to newcomers on how to mine or protect their coins. We outreach more than 300k Crypto people on Twitter with your ICO, so much more investors join your ICO.</p>
					</div>
				</div>
			</div>
			<div class="left social-site reddit">
				<div class="social-box">
					<div class="social-icon mrow">
						<p>Reddit</p>
						<i class="fab fa-reddit-square"></i>
					</div>
					<div class="social-content">
						<p class="social-text">The crypto-craze is so high on Reddit that the official Reddit app has updated it’s name to Reddit: Top News, Trending Memes & Crypto Updates. How can a list of the best Reddit cryptocurrency subs start without mentioning the biggest thread on general discussions. Get your ICO's article featured on top crypto sub reddits ethtrader and cryptocurrency.</p>
					</div>
				</div>
			</div>
			<div class="left social-site instagram">
				<div class="social-box">
					<div class="social-icon mrow">
						<p>Instagram</p>
						<img id="social-instagram-image" src="{% static 'images/instagram.svg' %}">
					</div>
					<div class="social-content">
						<p class="social-text">A recent survey revealed that Instagram was the #1 platform for 92% of influencers in 2017. The trend has continued in 2018 and is likely to gain further steam in the coming months. In a world where banner ads are mistrusted by younger consumers, the opinions on popular sites like Instagram matter. Get post about ICO posted by top ICO analysts.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="tilt-section" class="mrow">
	<div id="tilt-left">
		<div id="tilt-left-vertical">
			<p id="tilt-title">Request a quotation</p>
			<div id="tilt-left-content">
				<p></p>
			</div>
			<div id="tilt-fields" class="mrow">
				<div id="tilt-field-container" class="mrow right">
					<p id="proposal-request-button" class="right">Start here</p>
				</div>
			</div>
		</div>
	</div>
	<div id="tilt-right">
		<div class="tilt-telegram-icon">
			<i class="fab fa-telegram-plane"></i>
		</div>
		<div class="tilt-telegram-offer">
			<p>Promotional offer for Telegram bot for your Telegram group</p>
		</div>
		<div class="tilt-telegram-bot">
			<ul>
				<li>A bot that will update a Google Sheet with details of members entering or leaving the group : First name, Last name, Username, Date & time.</li>
				<li>Whenever any member from your group sends message containing abusive words or specific words that you don't want in your group, the message gets deleted and an admin from your group is notified. </li>
				<li></li>
			</ul>
		</div>
	</div>
</div>
<div id="request-form" style="display: none;">
	<div id="request-form-vertical">
		<div id="request-form-container">
			<div id="close-request-form">
				<i class="fas fa-times"></i>
			</div>
			<div id="request-form-content">
				<p id="request-form-title">Request quotation from us</p>
				<div class="field">
					<label for="project-name">Token name</label>
					<input placeholder="Token name" id="project-name" type="text">
				</div>
				<div class="field">
					<label>Token symbol</label>
					<input placeholder="Symbol" type="text">
				</div>
				<div class="field">
					<label for="project-name">Contact name</label>
					<input placeholder="Token name" id="project-name" type="text">
				</div>
				<div class="field">
					<label>Email ID</label>
					<input placeholder="Email ID" type="email">
				</div>
				<div class="field">
					<label>Telegram ID</label>
					<input placeholder="Telegram ID" type="text">
				</div>
				<div class="field">
					<label>Description ( optional )</label>
					<textarea placeholder="Please explain a little more about you..." autocomplete="off" autocorrect="off" spellcheck="false"></textarea>
				</div>
				<div class="field">
					<label>Social medias</label>
					<div class="social-media-request">
						<div class="social-media-question">Mark the social media communities that you are targetting.</div>
						<div class="request-social">
							<div class="request-field">
								<input id="request-facebook" type="checkbox">
								<label for="request-facebook">Facebook</label>
							</div>
							<div class="request-field">
								<input id="request-reddit" type="checkbox">
								<label for="request-reddit">Reddit</label>
							</div>
							<div class="request-field">
								<input id="request-twitter" type="checkbox">
								<label for="request-twitter">Twitter</label>
							</div>
							<div class="request-field">
								<input id="request-youtube" type="checkbox">
								<label for="request-youtube">Youtube</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<div class="submit-button">
						<button type="submit">
							Submit
							<i class="fas fa-angle-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	document.getElementById("proposal-request-button").onclick = function(){
		document.getElementById('request-form').style.display = 'table';
	}
	document.getElementById("close-request-form").onclick = function(){
		document.getElementById('request-form').style.display = 'none';
	}
</script>
{% endblock %}