{% extends 'public/base.html' %}

{% load static %}

{% block title %}BLockpoax -Frequently Asked Questions{% endblock %}

{% block keywords %}blockpoax, ico services, ico community management, token marketing, token exchange listing, generate token, cheap token, litecoin token generation, litecoin token, generate dash token{% endblock %}

{% block description %}Blockpoax is an agency that is focussed on ICO promotions, fundraising and global outreach. We provide numerous solutions that are based on Cryptocurrencies.{% endblock %}

{% block content %}
{% include 'public/components/nav.html' %}
<div id="place-order-content"></div>
{% endblock %}