{% extends 'public/base.html' %}

{% load static %}

{% block title %}Blockpoax - Privacy Policy{% endblock %}

{% block keywords %}blockpoax, ico services, ico community management, token marketing, token exchange listing, generate token, cheap token, litecoin token generation, litecoin token, generate dash token, blockpoax privacy policy{% endblock %}

{% block description %}Blockpoax is an agency that is focussed on ICO promotions, fundraising and global outreach. We provide numerous solutions that are based on Cryptocurrencies.{% endblock %}

{% block content %}
{% include 'public/components/nav.html' %}
<div id="info-page-content">
	<div class="container">
		<div class="page-title">
			<p>Privacy Policy</p>
		</div>
		<div class="page-content">
			<p class="title">Web Browser Cookies</p>
			<p class="content">Our website may make use of “cookies” to intensify the user’s experience. These cookies are stored in the hard drive by the user’s web browser to keep a record and occasionally, track information about them. This may be refused by the user, so as to prevent refusing cookies. However, on doing so, some feature of the website may not be fully functional.</p>
			<p class="title">Personal Identification Information</p>
			<p class="content">Users may have to input personal identification in multiple ways like when users visit our website, register on our website, while placing an order, while filling out a form, and in relation with related services, activities, features or resources on our website. Users may be asked for name, email address, mailing address. We will, however, collect personal information from users as long as they voluntarily submit such information. Users can refrain from providing personal identification information, which may result in disabling them from engaging in certain website related activities.</p>
			<p class="title">Non-personal identification information</p>
			<p class="content">We might acquire non-personal information about users whenever they interact on our website. Non-personal information may include browser name, type of computer and technical information about user’s mode of connection to our website, such as the OS and the ISP utilized, etc.</p>
			<p class="title">How We Use Collected Information</p>
			<p class="content">Blockpoax may obtain and make use of user’s personal information for following reasons:</p>
			<ul>
				<li>For running and operating our website.</li>
				<li>We might need your information displayed correctly on the website.</li>
				<li>Information provided by you helps us in responding to your customer service requests and support needs more effectively. In order to improve customer service.</li>
				<li>To customise user experience.</li>
				<li>The information in the aggregate could be used to determine how our users as a group are making use of our provided resources and services.</li>
				<li>For sending periodic emailers.</li>
				<li>We might use email addresses to send our users information and updated status regarding their requests.</li>
			</ul>
			<p class="title">How We Protect Your Information</p>
			<p class="content">We abide by stern data collection, storage and processing practices as well as security measures to ensure no unauthorised access or disclosure or destruction of the personal information of our users.</p>
			<p class="title">Sharing Your Personal Information</p>
			<p class="content">Blockpoax does not sell, trade, or rent its user’s personal identification information to other parties. There may be a share of generic aggregated demographic information that is not linked to any personal identification information related to visitors and users with our business partners, trusted affiliates and advertisers for the aforementioned purposes.</p>
			<p class="title">Changes To This Privacy Policy</p>
			<p class="content">Blockpoax has full right to update this privacy policy at any time. So if and when we do, you will receive a notification on the main page of our website. We encourage users to stay updated with this page for any changes so as to stay aware about how we are striving to protect the personal information we collect.</p>
			<p class="title">Your Acceptance Of These Terms</p>
			<p class="content">By using this website, you indicate your acceptance of this policy. In case you do not agree to this policy, please refrain from using our website. Continued use of the website will be deemed as your acceptance of such changes</p>
			<p class="title">Contacting us</p>
			<p class="content">If you have any questions about this Privacy Policy, the practices of this website, or your dealings with this site, please contact us.</p>
		</div>
	</div>
</div>
{% endblock %}