{% extends 'public/base.html' %}

{% load static %}

{% block title %}Blockpoax - Terms of service{% endblock %}

{% block keywords %}blockpoax, ico services, ico community management, token marketing, token exchange listing, generate token, cheap token, litecoin token generation, litecoin token, generate dash token, blockpoax terms of service{% endblock %}

{% block description %}Blockpoax is an agency that is focussed on ICO promotions, fundraising and global outreach. We provide numerous solutions that are based on Cryptocurrencies.{% endblock %}

{% block content %}
{% include 'public/components/nav.html' %}
<div id="info-page-content">
	<div class="container">
		<div class="page-title">
			<p>Terms of use</p>
		</div>
		<div class="page-content">
			<p class="title">YOUR USE OF THIS SITE OR ANY PART THEREOF WILL IMPLY YOUR BINDING ACCEPTANCE TO THE TERMS OF SERVICE</p>
			<p class="content">The following terms and conditions govern the use of Blocketo.com website and all its content, services and products available at or throughout the website. The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, notices, policies and procedures that may be published from time to time on this Site. 33 reserves the right to modify the terms and conditions as and when necessary without any prior intimation. The website, Blocketo.com is from here on referred to as the “WEBSITE” (also referred to as site, us, we, company).</p>
			<p class="content">This WEBSITE is not intended for use by anyone not able to legally form binding contracts. Please read this Agreement carefully before accessing or using the WEBSITE. By accessing or using any part of the WEBSITE, you agree to be bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement or any of them, then you may not access the WEBSITE or use any services. If these terms and conditions are considered an offer by Blocketo.com, acceptance is expressly limited to these terms.</p>
			<p class="title">General rules of conduct</p>
			<p class="content">Your use of the WEBSITE is subject to all applicable local, state, national and international laws and regulations. You agree to abide by all such laws and regulations, including those relating to intellectual property, defamation, privacy, and the transmission or exportation of data.</p>
			<p class="content">You agree that you will not do or assist any third party to do, any of the following:</p>
			<ul>
				<li>Defame, abuse, harass, stalk, threaten, or otherwise violate the legal right of another person or advocate any of the foregoing.</li>
				<li>Publish, post, upload, e-mail, distribute, or disseminate (collectively, “Transmit”) any inappropriate, profane, defamatory, infringing, obscene, indecent, or unlawful content.</li>
				<li>Transmit files that contain viruses, worms, Trojan horses, corrupted files, or any other similar software or programs that may damage, disrupt, or adversely affect the operation of another person’s computer, the sites, any software or hardware, or telecommunications equipment.</li>
				<li>Advertise, promote, solicit, or offer to sell any goods or services for any commercial purpose unless you have our prior written consent to do so.</li>
				<li>Transmit surveys, contests, pyramid schemes, spam, unsolicited advertising or promotional materials, or chain letters.</li>
				<li>Download any file that you know or reasonably should know cannot be legally obtained in such manner.</li>
				<li>Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or the source of software or other material.</li>
				<li>Restrict or inhibit any other user from using and enjoying any public area within WEBSITE, including, without limitation, by means of “hacking” or defacing any portion of the website.</li>
				<li>Interfere with or violate any other WEBSITE user’s right to privacy; solicit, collect or store personal information about other users of the WEBSITE without their express consent.</li>
				<li>Impersonate any person or entity, including, but not limited to, Blocketo.com representative, or falsely state or imply, or otherwise misrepresent your affiliation with a person or entity.</li>
				<li>Forge headers or manipulate identifiers or other data in order to disguise the origin of any content transmitted through the WEBSITE or to manipulate your presence on our site.</li>
				<li>Use the WEBSITE or the materials contained it for any fraudulent or unlawful purpose.</li>
				<li>nterfere with or disrupt the WEBSITE, its servers, or networks, or take any action that imposes an unreasonable or disproportionately large load on our infrastructure.</li>
				<li>“Frame” or “mirror” any part of the WEBSITE without our prior written authorization.</li>
			</ul>
			<p class="content">Use any robot, spider, site search/retrieval application or other manual or automatic device or process to access, monitor, copy, retrieve, index, “data mine” or in any way reproduce or circumvent the navigational structure or presentation of the WEBSITE, any part of the website, or its contents. A limited exception is provided to general purpose Internet search engines and non-commercial public archives that use such tools to gather information for the sole purpose of displaying hyperlinks to the WEBSITE, provided they each do so from a stable IP address or range of IP addresses using an easily identifiable agent.</p>

		</div>
	</div>
</div>
{% endblock %}