$green: #4CAF50;
$dark-green: #27AE60;

$red: #EF5350;
$dark-red: #C0392B;
body{background-color: #222;}
body, p, a, ul, li, table, td, tr, th{margin: 0;padding: 0;}
div, p, a{@include box-sizing(border-box);}
a{text-decoration: none;}
li{list-style-type: none;}
.home-page-more-content{background-color: #f6f6f6;}

p, a, li, td, th{color: #333;font-size: 14px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.card{@include box-shadow(-2px 2px 5fppx 0 rgba(0,0,0,0.12));}
p, a, input, button, textarea, label, div{font-family: 'Poppins', sans-serif;}
input, textarea, button{
	&, &:hover, &:active, &:focus{border: none;outline: none;}
}

.left{@include float-left;}
.right{@include float-right;}
.mrow:after{clear: both;display: block;content: ""}

.container{width: 1130px;margin: 0 auto;}

#nav{
	$border-width: 2px;
	$transition-time: 500ms;
	#logo{
		img{height: 38px;margin: 5px 0;@include float-left;}
		p{@include float-left;margin-left: 8px;font-weight: bold;line-height: 48px;font-size: 26px;}
		&:after{clear: both;display: block;content: ""}
	}
	ul{
		li{@include inline-block;line-height: 48px;margin: 0 4px;
			p{padding: 7px 12px;display: inline;position: relative;color: #333;cursor: pointer;
				span{
					&:before{top: 0;left: 0;}
					&:after{bottom: 0;right: 0;}
					&:after, &:before{display: block;content: "";position: absolute;height: 0px;width: $border-width;background-color: #333;@include transition($transition-time);}
				}
				&:before{bottom: 0;left: 0;}
				&:after{top: 0;right: 0;}
				&:after, &:before{display: block;content: "";position: absolute;height: $border-width;width: 0px;background-color: #333;@include transition($transition-time);}
				&:hover{
					&:after, &:before{width: 100%;}
					span{
						&:after, &:before{height: 100%;}
					}
				}
			}
		}
	}
}
#home-banner{height: 650px;padding-bottom: 25px;background-position: center;position: relative;
	canvas{position: absolute;top: 0;left: 0;z-index: -1;background-color: #ccc;}
	.container{height: calc(100% - 48px);
		&:after{clear: both;display: block;content: ""}
	}
	#home-banner-nav-container{}
	#home-banner-content{height: calc(100% - 48px);width: 60%;display: table;@include float-left;
		#home-banner-left{display: table-cell;vertical-align: middle;
			#home-banner-container{
				p{color: #333;
					&.home-banner-title{font-size: 32px;font-weight: bold;}
					&.home-banner-p{font-size: 15px;font-weight: bold;margin-top: 8px;color: #555;}
				}
				.contact-on-telegram{background-color: #0088cc;padding: 8px 12px;margin-left: 5px;margin-top: 20px;@include inline-block;
					i{margin-right: 8px;}
					p, i{color: #fff;display: inline;font-size: 15px;}
				}
			}
		}
	}
	#home-banner-image{@include float-left;width: 40%;display: table;height: 100%;
		#home-banner-image-vertical{display: table-cell;vertical-align: middle;text-align: center;}
		img{width: calc(100% - 30px);}
	}
}

#features{padding-top: 28px;
	#features-section-title{
		text-align: center;
		p{font-size: 32px;font-weight: bold;}
	}
	#features-container{
		.feature-col{width: 33.33%;padding: 0 15px;margin-top: 45px;margin-bottom: 15px;
			.feature-content{width: 100%;
				.feature-icon{text-align: left;
					img{width: 55px;}
				}
				.feature-title{
					p{font-size: 13px;font-weight: bold;margin-bottom: 4px;margin-top: 12px;}
				}
				.feature-content{
					p{font-size: 14.5px;}
				}
			}
		}
	}
}

#social-sites{padding-bottom: 40px;background: #f6f6f6;//background-attachment: fixed;
	$facebook: #3b5998;background-size: 350px;
	$twitter: #1da1f2;
	$reddit: #ff4500;
	#social-section-title{text-align: center;font-size: 32px;font-weight: bold;margin-top: 22px;color: #333;margin-bottom: 18px;}
	.container{padding-top: 20px;}
	.social-site{width: 25%;padding: 10px;
		.social-box{background-color: #fff;padding: 8px;@include border-radius(5px);@include box-shadow(0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2));}
		.social-icon{text-align: right;padding: 4px 4px;height: 56px;
			i{font-size: 48px;@include float-right;color: #fff;}
			p{@include float-left;font-size: 24px;padding: 6px;font-weight: 500;color: #333;}
			.fa-facebook-square{color: #3b5998;}
			.fa-twitter-square{color: #1da1f2;}
			.fa-reddit-square{color: #ff4500;}
		}
		.social-content{padding: 6px 8px;margin-top: 5px;
			.social-text{font-size: 12.5px;color: #555;}
		}
		#social-instagram-image{width: 42px;padding: 3px 0;}
	}
	.social-more{text-align: right;
		i{font-size: 28px;margin: 0 8px;color: #999;}
	}
}

#started-button{text-align: center;margin-top: 18px;
	#start-request{padding: 8px 12px;background-color: $green;color: #fff;@include inline-block;cursor: pointer;margin-bottom: 35px;}
}

#services{width: 100%;margin-top: 355px;background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/dist/images/wireframe.jpg');position: relative;@include background-size(cover);background-position: center;
	#testimonial{width: calc(100% - 30px);position: absolute;bottom: calc(100% - 40px);background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/dist/images/green.jpg');left: 15px;@include border-radius(5px);background-position: center;@include box-shadow(0 0 5px 0 rgba(0,0,0,0.18));@include border-radius(5px);
		#testimonial-section-title{text-align: center;font-size: 32px;font-weight: bold;margin-top: 22px;color: #fff;}
		#testimonial-container{width: calc(100% - 30px);max-width: 850px;margin: 6px auto 30px auto;
			#testimonial-vertical{display: table-cell;vertical-align: middle;}
			#testimonial-image{width: 30%;
				img{width: 100%;@include border-radius(50%);@include box-shadow(-3px 3px 6px 0 rgba(0,0,0,0.2));}
			}
			#testimonial-content{width: 70%;padding: 20px;display: table;height: 262px;
				#testimonial-words{margin-bottom: 15px;
					i{font-size: 11px;vertical-align: top;
						&:first-child{margin-left: 0;margin-right: 5px;}
						&:last-child{margin-right: 0px;margin-left: 5px;}
					}
					p{color: #fff;font-size: 18px;}
				}
				#sayer-name{text-align: right;
					p{font-size: 15px;color: #fff;}
				}
				#sayer-desg{text-align: right;
					p{color: #fff;font-size: 14px;font-weight: bold;}
				}
			}
		}
	}
}
#dual-section-more{margin-top: 30px;
	#dual-title{text-align: center;font-size: 22px;font-weight: bold;padding-top: 62px;color: #fff;margin-bottom: 18px;}
	#dual-content{width: 500px;color: #f6f6f6;margin: 0 auto;text-align: center;}
}

#tilt-section{width: 100%;margin: 0px 0 20px 0;
	#tilt-left{@include float-left;background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/dist/images/tilt-background.jpg');@include background-size(cover);position: relative;display: table;
		&:before{width: 60px;height: 100%;display: block;content: "";background-color: #fff;position: absolute;right: -28px;top: 0;@include transform(skewX(-7deg) scale(1.1));@include box-shadow(0 0 5px 0 rgba(0,0,0,0.18));@include border-radius(5px);}
	}
	#tilt-left-vertical{display: table-cell;vertical-align: middle;}
	#tilt-right{@include float-right;background-color: #3498DB;}
	#tilt-left, #tilt-right{width: 50%;height: 360px;padding: 20px;}
	#tilt-title{font-size: 32px;font-weight: bold;color: #fff;text-align: right;}
	#tilt-left-content{
		p{text-align: right;margin-top: 12px;color: #fff;font-size: 1em;}
	}
	#tilt-field{}
	#tilt-field-container{width: 300px;margin-top: 20px;margin-right: 20px;
		
	}
	#tilt-left{padding-right: 60px;}
	#proposal-request-button{color: #fff;background-color: $green;padding: 10px 15px;font-size: 15px;@include inline-block;width: 180px;text-align: right;border-right: 10px solid #fff;@include border-radius(5px);@include transition(280ms);cursor: pointer;
		&:hover{border-right: 25px solid #fff;background-color: $dark-green;}
	}
	#tilt-right{padding-left: 60px;
		.tilt-telegram-icon{font-size: 48px;
			i{color: #fff;}
		}
		.tilt-telegram-offer{
			p{color: #fff;font-size: 16px;font-weight: bold;}
		}
	}
	.tilt-telegram-bot{
		li{margin-left: 22px;color: #fff;margin-top: 8px;list-style-type: disc;}
	}
}

#request-form{position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;background-color: rgba(0,0,0,0.5);z-index: 5;display: none;@include opacity(0);@include transition(500ms);
	.request-row{margin: 0 -10px;
		.field{width: 50%;@include float-left;padding: 0 10px;}
		&:after{clear: both;display: block;content: ""}
	}
	.field{margin-top: 16px;}
	&.opened{@include opacity(1);
		#request-form-container{;@include transform(scale(1) translateY(0px));}
	}
	#request-form-container{width: calc(100% - 30px);max-width: 700px;max-height: calc(100vh - 80px);background-color: #fff;margin: 40px auto;@include border-radius(5px);position: relative;padding: 20px;@include transform(scale(1) translateY(-200px));@include transition(500ms);overflow-y: auto;
		#close-request-form{position: absolute;top: 13px;right: 13px;color: #333;cursor: pointer;
			i{font-size: 25px;@include rotate(0deg);@include transition(250ms);}
			&:hover{i{@include rotate(90deg);}}
		}
	}
	.request-form-list{margin-left: 26px;margin-top: 5px;
		li{font-size: 12px;color: #777;margin: 2px 0;list-style-type: disc;}
	}
	label, input, textarea{display: block;}
	label{font-size: 13px;}
	input, textarea{outline: none;@include border-radius(0px);background-color: #eee;border: none;border-left: 7px solid #ddd;height: 38px;width: 100%;padding: 0 8px;@include box-sizing(border-box);font-size: 12px;line-height: 18px;letter-spacing: 1.1px;}
	label{margin-top: 5px;margin-bottom: 4px;font-size: 13px;letter-spacing: 1.1px;}
	textarea{height: 180px;padding: 8px;resize: none;}
	button{height: 38px;background-color: $green;color: #fff;font-size: 13px;margin-top: 20px;border: none;outline: none;@include border-radius(5px);letter-spacing: 1.1px;}
	.request-social{margin-top: 2px;}
	#request-form-title{font-weight: bold;font-size: 25px;margin-bottom: 6px;
	}
	.submit-button{border-top: 1px solid #ccc;margin-top: 20px;
		#submit-request{@include float-right;display: inline;padding: 0 10px 0 15px;cursor: pointer;@include box-shadow(-2px 2px 5px 0 rgba(0,0,0,0.15));font-size: 12px;@include transition(250ms);
			i{font-size: 1.1em;margin-left: 5px;vertical-align: middle;}
			&:hover{background-color: $dark-green;}
		}
		#cancel-request{@include float-left;background-color: $red;cursor: pointer;@include box-shadow(-2px 2px 5px 0 rgba(0,0,0,0.15));padding: 0 15px 0 10px;font-size: 12px;@include transition(250ms);
			i{font-size: 1.1em;margin-right: 5px;vertical-align: middle;}
			&:hover{background-color: $dark-red;}
		}
		&:after{clear: both;display: block;content: ""}
	}
	.request-form-hint{font-size: 12px;color: #777;font-weight: 300;margin-left: 4px;}
	.request-field{@include inline-block;margin: 0 5px;margin-top: 12px;
		label{}
		input[type="checkbox"]{display: none;
			& + label{background-color: $red;padding: 4px 8px;display: inline;color: #fff;cursor: pointer;@include transition(200ms);background-image: url('/dist/images/close.png');padding-right: 27px;background-repeat: no-repeat;background-size: 16px;background-position: right 4px center;font-size: 11px;
				&:hover{background-color: $dark-red;}
			}
			&:checked + label{background-color: $green;background-image: url('/dist/images/check.png');padding-right: 27px;background-repeat: no-repeat;background-size: 16px;background-position: right 4px center;
				&:hover{background-color: $dark-green;}
			}
		}
	}
	.feature-question{margin-top: 8px;
		input, label, p{@include inline-block;}
		p{font-size: 12px;color: #555;}
		input{display: none;
			& + label{width: 15px;height: 15px;background-color: $red;margin: 0 8px;cursor: pointer;@include transition(250ms);background-image: url('/dist/images/close.png');background-position: 0.9px 0.9px;background-size: 14px;
				&:hover{background-color: $dark-red;}
			}
			&:checked + label{width: 15px;height: 15px;background-color: $green;margin: 0 8px;background-image: url('/dist/images/check.png');    background-position: 0.9px 0.9px;background-size: 14px;
				&:hover{background-color: $dark-green;}
			}
		}
		&:after{clear: both;display: block;content: none;}
	}
	.request-input{@include transition(250ms);border: none;border-left: 7px solid #dddddd;
		&.entered{border-left: 7px solid $dark-green;
			&.email-not-validated{border-left: 7px solid $dark-red;}
		}
	}
}

#plans{padding-bottom: 20px;
	#plans-section-title{text-align: center;font-size: 32px;font-weight: bold;margin-top: 42px;color: #333;margin-bottom: 10px;}
	#plans-row{
		.plan-card{padding: 15px;}
		.plan{width: 33.33%;@include float-left;text-align: center;padding: 0 0px;
			.plan-title{font-size: 14px;line-height: 33px;font-weight: bold;color: #fff;background-color: #333;
			}
		}
		.plan-content{padding: 0 15px;background-color: #fff;background-size: cover;@include box-shadow(0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2));
			&.silver{background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/dist/images/silver.jpg');}
			&.gold{background: url('/dist/images/gold.jpg');}
			&.platinum{background: url('/dist/images/platinum.jpg');}
		}
		&:after{clear: both;display: block;content: ""}
	}
	.plan-price{font-size: 15px;font-weight: bold;padding-bottom: 12px;color: #fff;}
	ul{padding-top: 8px;}
	li{margin: 5px 0;margin: 5px 0;border-bottom: 1px solid #eee;margin-bottom: 8px;padding-bottom: 8px;color: #fff;
		&:last-child{border-bottom: none;}
	}
	.read-more{text-decoration: underline;color: #fff;font-size: 12px;cursor: pointer;}
}

#info-page-content{background-color: #f6f6f6;min-height: calc(100vh - 280px);padding-bottom: 20px;padding-top: 20px;
	.page-content{margin-top: 20px;}
	.info-page-image{width: 40%;@include float-left;margin-right: 20px;
		img{width: 100%;@include border-radius(5px);@include box-shadow(0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2));vertical-align: middle;}
	}
	.title{font-size: 15px;font-weight: bold;margin-top: 14px;}
	.content{font-size: 12.5px;margin-top: 3px;}
	ul{margin-left: 22px;margin-top: 8px;
		li{font-size: 12.5px;list-style-type: disc;}
	}
	#start-request{margin-bottom: 15px;}
}

.plan-modal{position: fixed;top: 0;left: 0;display: none;}

#info-page-content{padding-top: 20px;
	.page-title{
		p{font-size: 24px;font-weight: bold;text-align: center;}
	}
	.question{font-size: 13px;font-weight: bold;margin-top: 15px;}
	.answer{font-size: 12px;margin-top: 5px;
		span{font-weight: bold;}
	}
}

.contact-us-form-page{background: url('/dist/images/contact-us.jpg');@include background-size(cover);background-position: center;}
.contact-us-form{width: 100%;max-width: 700px;background-color: #fff;margin: 30px auto;padding: 15px;@include box-shadow(-3px 3px 6px 0 rgba(0,0,0,0.3));@include border-radius(5px);
	.contact-us-form-title{font-weight: bold;font-size: 25px;margin-bottom: 6px;}
	input, button{height: 38px;}
	label{font-size: 12.5px;margin: 12px 0 4px 5px;font-weight: bold;}
	textarea{height: 260px;padding: 12px;resize: none;}
	input{padding: 0 12px;}
	input, textarea{background-color: #f6f6f6;}
	label, input, textarea, button{display: block;width: 100%;border: none;@include box-sizing(border-box);font-size: 12px;line-height: 18px;letter-spacing: 1.1px;}
	input, textarea, button{@include border-radius(5px);}
	button{background-color: $green;color: #fff;margin-top: 12px;}
}

.contact-us-three-row{margin: 0 -7.5px;
	.contact-us-three{width: calc(33.33% - 15px);@include float-left;margin: 0 7.5px;}
	&:after{clear: both;display: block;content: ""}
}
.contact-us-form-hint{font-size: 12px;color: #777;font-weight: 300;margin-left: 4px;letter-spacing: 0.3px;}

#footer{width: 100%;background-color: #222;margin-top: 20px;padding-top: 12px;padding-bottom: 12px;
	.footer-col-title{font-weight: bold;font-weight: bold;font-size: 12px;}
	#footer-copy{border-top: 1px solid #ccc;padding-top: 8px;margin-top: 8px;padding-bottom: 12px;padding-left: 10px;padding-right: 10px;
		p, i{font-size: 11px;color: #aaa;padding-top: 8px;}
		#footer-copy-left{@include float-left;}
		#footer-copy-right{@include float-right;
			i{font-size: 22px;}
		}
		&:after{clear: both;display: block;content: ""}
		.footer-social-icon{padding: 0 5px;@include float-left;}
	}
}

#nav{
	&.black-nav{background-color: #222;
		p{color: #fff;}
		ul li p:after, ul li p:before{background-color: #fff;}
		ul li p span:after, ul li p span:before{background-color: #fff;}
	}
}

#footer-row{padding: 10px 0 16px 0;
	.footer-col{@include float-left;
		p{margin-bottom: 6px;color: #fff;}
		.footer-col-content{color: #ccc;}
		a{color: #3498DB;}
		&.footer-col-one-four{width: 25%;text-align: center;}
		&.footer-col-one-two{width: 50%;}
	}
	&:after{clear: both;display: block;content: ""}
}

.plan-modal{width: 100vw;height: 100vh;position: fixed;top: 0;left: 0;@include opacity(0);z-index: 5;display: none;@include transition(500ms);background-color: rgba(0,0,0,0.5);
	.plan-vertical{display: table-cell;vertical-align: middle;
		.plan-container{width: calc(100% - 30px);margin: 0 auto;max-width: 500px;background-color: #fff;min-height: 400px;text-align: center;@include border-radius(5px);overflow: hidden;@include scale(1.2);@include transition(500ms);position: relative;
			.plan-modal-close-icon{position: absolute;top: 5px;right: 12px;cursor: pointer;}
		}
		.plan-modal-header{background-color: #eee;line-height: 34px;font-weight: bold;}
		.plan-modal-features{padding: 15px;}
		.plan-price-title{font-size: 13px;margin-bottom: 6px;margin-top: 10px;font-weight: bold;}
		ul{padding-bottom: 8px;
			li{border-bottom: 1px solid #ddd;margin-bottom: 5px;padding-bottom: 5px;font-size: 13px;
				&:last-child{border-bottom: none;}
			}
		}
		.plan-price{font-size: 32px;text-align: center;margin-top: 3px;line-height: 24px;}
		.plan-price-container{text-align: center;background-color: #eee;padding: 5px 20px 20px 20px;@include inline-block;@include border-radius(5px);}
	}
	&.opened{@include opacity(1);
		.plan-container{@include scale(1);}
	}
}

@media(max-width: 768px){
	#home-banner{height: unset;
		#home-banner-content{width: calc(100% - 30px);}
		#home-banner-image{width: calc(100% - 30px);margin: 50px 0;}
	}
	.container{width: calc(100% - 30px);}
	#features #features-container .feature-col{width: 50%;}
	#social-sites .social-site{width: 100%;
		//i{width: 100%;text-align: center;margin-bottom: 10px;}
	}
	#plans #plans-row .plan{width: 100%;}
	#tilt-section #tilt-left, #tilt-section #tilt-right{width: 100%;height: unset;}
	#tilt-section #tilt-left{padding: 40px 0;}
	#tilt-section #tilt-right{padding: 30px 20px;}
	#tilt-section #tilt-left:before{display: none;}
	#services{margin-top: 528px;}
}