{% load static %}
<div id="nav" class="black-nav">
	<div class="container">
		<div class="mrow">
			<div class="left">
				<div id="logo">
					<a href="{% url 'home' %}">
						<img src="{% static 'images/logo.png' %}" alt="logo">
						<p>Blockpoax</p>
					</a>
				</div>
			</div>
			<div class="right">
				<ul>
					<li>
						<p class="scroll-to" data-scroll-to="features">
							<span>Features</span>
						</p>
					</li>
					<li>
						<p class="scroll-to" data-scroll-to="services">
							<span>Testimonial</span>
						</p>
					</li>
					<li>
						<p class="scroll-to" data-scroll-to="services">
							<span>Services</span>
						</p>
					</li>
					<li>
						<p class="scroll-to" data-scroll-to="tilt-section">
							<span>Request quotation</span>
						</p>
					</li>
					<li>
						<p class="scroll-to" data-scroll-to="prices">
							<span>Prices</span>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>