{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#4f3cbf" />
		<meta name="keywords" content="{% block keywords %}{% endblock %}" />
		<meta name="description" content="{% block description %}{% endblock %}" />
		<link rel="shortcut icon" href="{% static 'images/logo.png' %}" />
		<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" />
		<link rel="stylesheet" href="{% static 'css/public.css' %}" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet">
		<link rel="prefetch" href="{% static 'images/check.png' %}">
		<link rel="prefetch" href="{% static 'images/close.png' %}">
	</head>
	<body>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<div class="container">
				<div id="footer-row">
					<div class="footer-col footer-col-one-four">
						<p class="footer-col-title">Company</p>
						<div class="link">
							<a href="{% url 'about-us' %}">About Us</a>
						</div>
						<div class="link">
							<a href="{% url 'privacy-policy' %}">Privacy Policy</a>
						</div>
						<div class="link">
							<a href="{% url 'terms-of-service' %}">Terms of service</a>
						</div>
					</div>
					<div class="footer-col footer-col-one-four">
						<p class="footer-col-title">Support</p>
						<div class="link">
							<a href="{% url 'faqs' %}">FAQs</a>
						</div>
						<div class="link">
							<a href="{% url 'contact-us' %}">Contact Us</a>
						</div>
					</div>
					<div class="footer-col footer-col-one-two">
						<p class="footer-col-title">Company</p>
						<div class="footer-col-content">
							<p>Our services are focussed to get you desired reach to the audience that might be interested in investing. With a good product and our services you can raise what you have aimed for.</p>
						</div>
					</div>
				</div>
				<div id="footer-copy">
					<div id="footer-copy-left">
						<p><i class="far fa-copyright"></i> 2018 Blockpoax. All rights reserved</p>
					</div>
					<div id="footer-copy-right">
						<a href="mailto:admin@blockpoax.com"><p>admin@blockpoax.com</p></a>
						<!--<div class="footer-social-icon">
							<a href="#"><i class="fab fa-facebook-square"></i></a>
						</div>
						<div class="footer-social-icon">
							<a href="#"><i class="fab fa-twitter-square"></i></a>
						</div>
						<div class="footer-social-icon">
							<a href="#"><i class="fab fa-linkedin"></i></a>
						</div>-->
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'scripts//particles.js' %}"></script><script src="{% static 'scripts/public.js' %}"></script>
	</body>
</html>
