{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#3494d4" />
		<!-- SEO Meta Tags -->
		<meta name="keywords" content="{% block keywords %}{% endblock %}" />
		<meta name="description" content="{% block description %}{% endblock %}" />
		<!-- Schema.org markup for Google+ -->
		<meta itemprop="name" content="Blockpoax - We help you reach out to the mass audience" />
		<meta itemprop="description" content="Blockpoax is an agency that is focussed on ICO promotions, fundraising and global outreach. We provide numerous solutions that are based on Cryptocurrencies." />
		<meta itemprop="image" content="https://blockpoax.com/dist/images/blockchain_large.png" />
		<!-- Open Graph Tags -->
		<meta property="og:image" content="https://blockpoax.com/dist/images/og-image.png" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://blockpoax.com" />
		<meta property="og:title" content="Blockpoax - We help you reach out to the mass audience" />
		<meta property="og:description" content="Blockpoax is an agency that is focussed on ICO promotions, fundraising and global outreach." />
		<!-- Twitter Card Tags -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@blockpoax" />
		<meta name="twitter:title" content="Blockpoax - We help you reach out to the mass audience" />
		<meta name="twitter:description" content="Blockpoax is an agency that is focussed on ICO promotions, fundraising and global outreach." />
		<meta name="twitter:creator" content="@blockpoax" />
		<meta name="twitter:image" content="https://blockpoax.com/dist/images/og-image.png" />
		{% block meta_tags %}{% endblock %}
		<link rel="icon" sizes="192x192" href="{% static 'images/blockpoax_medium.png' %}">
		<link rel="shortcut icon" href="{% static 'images/logo.png' %}" />
		<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" />
		<link rel="stylesheet" href="{% static 'css/public.css' %}" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
		<link rel="prefetch" href="{% static 'images/check.png' %}" />
		<link rel="prefetch" href="{% static 'images/close.png' %}" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130565513-1"></script>
		<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-130565513-1');</script>
	</head>
	<body>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<div class="container">
				<div id="footer-row">
					<div class="footer-col footer-col-one-four">
						<p class="footer-col-title">Company</p>
						<div class="link">
							<a href="{% url 'about-us' %}">About Us</a>
						</div>
						<div class="link">
							<a href="{% url 'privacy-policy' %}">Privacy Policy</a>
						</div>
						<div class="link">
							<a href="{% url 'terms-of-service' %}">Terms of service</a>
						</div>
					</div>
					<div class="footer-col footer-col-one-four">
						<p class="footer-col-title">Support</p>
						<div class="link">
							<a href="{% url 'faqs' %}">FAQs</a>
						</div>
						<div class="link">
							<a href="{% url 'contact-us' %}">Contact Us</a>
						</div>
					</div>
					<div class="footer-col footer-col-one-two">
						<p class="footer-col-title">About Blockpoax</p>
						<div class="footer-col-content">
							<p>Our services are focussed to get you desired reach to the audience that might be interested in investing. With a good product and our services you can raise what you have aimed for.</p>
						</div>
					</div>
				</div>
				<div id="footer-copy">
					<div id="footer-copy-left">
						<p><i class="far fa-copyright"></i> 2018 Blockpoax. All rights reserved</p>
					</div>
					<div id="footer-copy-right">
						<a href="mailto:admin@blockpoax.com"><p>admin@blockpoax.com</p></a>
						<!--<div class="footer-social-icon">
							<a href="#"><i class="fab fa-facebook-square"></i></a>
						</div>
						<div class="footer-social-icon">
							<a href="#"><i class="fab fa-twitter-square"></i></a>
						</div>
						<div class="footer-social-icon">
							<a href="#"><i class="fab fa-linkedin"></i></a>
						</div>-->
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'scripts//particles.js' %}"></script><script src="{% static 'scripts/public.js' %}"></script>
	</body>
</html>
